
<div align="center">
    <h3 style="text-align:center">We Create Your Imagination</h3>
    <br />
    <img src="~/Content/Photos/Winhe.jpg" width="200" height="200" />
    <br />
    <a href="@Url.Action("Login","Account")" class="btn btn-primary">Login</a>
    <a href="@Url.Action("Register","Account")" class="btn btn-primary">Register</a>
</div>
