@{
    ViewBag.Title = "Home Page";
}
<div>
    <h4>Home</h4>
</div>
<div>
    <h1>Winhe IT</h1>
</div>
<div>
    <a class="btn btn-success" href="/Product/List">Products</a>
    <a class="btn btn-success" href="/Customer/List">Customers</a>
    <a class="btn btn-success" href="/Invoice/Detail">Invoices</a>
</div>

