@{
    ViewBag.Title = "Home Page";
}
<body background="~/Content/Photos/background.jpg" width="device-width" height="device-height">
    <div>
        <h4 class="color-white">Home</h4>
    </div>
    <div class="Align">
        <h1 class="color-white">Winhe IT</h1>
    </div>
    <div align="center">
        <a class="btn btn-success" href="/Product/List">Products</a>
        <a class="btn btn-success" href="/Customer/List">Customers</a>
        <a class="btn btn-success" href="/Invoice/Detail">Invoices</a>
    </div>
</body>
