################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WinheTest2/bin
bin
obj
packages
.vs
